<%= form_with(model: [@order, @order.user_orders.build],  local: true) do |form|  %>
<!--  model: [@order, @order.user_orders.build],-->
  <div class="form-row">
    <%= form.text_field :user_id, type: "hidden", value: current_user.id %>
    <div class="col-md-2">
      <%= form.label :item %><br>
      <%= form.text_field :item, class: "form-control", placeholder: "item" %>
    </div>
    <div class="col-md-2">
      <%= form.label :amount %><br>
      <%= form.number_field :amount, class: "form-control", placeholder: "amount" %>
    </div>
    <div class="col-md-2">
      <%= form.label :price %><br>
      <%= form.number_field :price, class: "form-control", placeholder: "price" %>
    </div>
    <div class="col-md-4">
      <%= form.label :comment %><br>
      <%= form.text_field :comment, class: "form-control", placeholder: "comment" %>
    </div>
    <div class="col-md-2">
      <br>
      <%= form.submit :submit, class: "btn btn-primary" , style: "margin-top: 7px;" %>
    </div>
  </div>
<% end %>



