
<tr class="table-warning">
  <td><%= user_order.user.name %></td>
  <td ><%= user_order.item %></td>
  <td><%= user_order.amount %></td>
  <td><%= user_order.price %></td>
  <td><%= user_order.comment %></td>
</tr>

