
<tr class="table-warning">
  <td><%= user_order.user.name %></td>
  <td ><%= user_order.item %></td>
  <td><%= user_order.amount %></td>
  <td><%= user_order.price %></td>
  <td><%= user_order.comment %></td>
<!--  <td>-->
<!--#   <%#= link_to 'Destroy Comment', [comment.article, comment],-->
# <!--                  method: :delete,-->
# <!--                  data: { confirm: 'are you sure?' }-->
#    %>
<!--  </td>-->
</tr>

