<%= render 'layouts/navigation' %>

<div class="container text-center">
 <h1> Groups </h1>
 <hr />
 <div class = "row">
   <div class = "col-md-12">
<%=  form_with scope: :group , url: groups_path do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.submit("Add") %>
  <% end %>
  </div>
 </div>
 <div class = "row">

  <div class="col-sm-3 myGroups">
   <h3> Your Groups </h3>
   <hr />
       <ul>
      <% @groups.each do |group| %>
       <li>
         <%= link_to group.name , :id => group.id %>

<%= link_to ('<i class="fas fa-times fa-2x"> </i>').html_safe , [group] ,
  method: :delete,
  data: {confirm: 'Are You Sure To delete Group' } %>


      <%= link_to  ('<i class="fas fa-user-plus fa-2x"></i> ').html_safe , :id => group.id %>
       </li>
       <hr />
        <% end %>
       </ul>
  </div>

<div class="col-sm-9 groupMembers">
 <% if @groupDetail != nil  %>
     <h3> <%= @groupDetail.name %> </h3>
     <hr />

  <div class="container">

   <div class="row">
     <div class="col-sm-12">
      <%= render 'group_member/form' %>
     </div>
        <%end%>
    </div>

    <div class="row">
      <% @members.each do |member| %>


     <div class="col-sm-6">
       <div class="card" style="width: 18rem;">
  <%=image_tag "user.png" ,  style: 'height:50%'%>
  <div class="card-body">
    <h5 class="card-title"><%= member.name %></h5>
    <a href="#" class="btn btn-primary">unfriend</a>
  </div>
</div>
     </div>

     <% end %>
    </div>
  </div>
</div>

</div>

 </div>
</div>
<% console %>
