<%= render 'layouts/navigation' %>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div style="border: 1px solid black; margin-top: 20px; background-color: #bee5eb;">
        <br>
        <table class="table" style="border: none;">
          <thead>
          </thead>
          <tbody>
          <% @myorders.each do |order| %>
            <tr class="table-info">
              <td>
                <%= order.meal %> on
                <%= order.created_at.strftime("%b %d, %Y") %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div style="position: absolute;
          top: 5px;
          font-size: 20px;
          left: 30px;
          background-color: #f8f9fa;
          padding: 0 10px;
          border-radius: 10px">Latest Orders</div>
    </div>
    <div class="col-sm">
      <div style="border: 1px solid black; margin-top: 20px; background-color: #bee5eb;">
        <br>
        <table class="table" style="border: none;">
          <thead>
          </thead>
          <tbody id="f_activity">
            <% @orders.each do |order| %>
              <tr class="table-info">
                <td>
                <%= order.user.name %> has created an
                <%= link_to 'Order', order_path(order) %>
                for <%= order.meal %>
                from <%= order.restaurant %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div style="position: absolute;
          top: 5px;
          font-size: 20px;
          left: 30px;
          background-color: #f8f9fa;
          padding: 0 10px;
          border-radius: 10px">Friends Activity</div>
    </div>
  </div>
</div>

<script>

  let friend = document.getElementById("f_activity");

  setInterval(()=>{
    fetch("/myfriends_data").then((data)=>{
        return data.json();
    }).then((data)=>{
        let activities = JSON.parse(JSON.stringify(data));
        // console.log(activities[0]);
        friend.innerText = "";
        activities.forEach((activity) =>{
          let tr = document.createElement('tr');
          tr.classList.add("table-info");
          let td = document.createElement('td');
          td.innerHTML = activity.user.name + " has created an " +
              "<a href=\"/orders/" +activity.id + "\">Order</a>"+ " for " + activity.meal +
              " from " + activity.restaurant;
          tr.appendChild(td);
          friend.appendChild(tr);
        });
    });

  }, 30000);
</script>
