<%= render 'layouts/navigation' %>

<div class="text-center">

<h1>Orders</h1>
<hr>

</div>

<div class="container list" >
<%= link_to 'Add Order', new_order_path  , :class => "btn btn-primary" %>

<table class=" table table-striped vertical-center tableList" >

  <thead>

    <tr>
      <th>Order</th>
      <th>Resturant</th>
      <th>Invited</th>
      <th>Joined</th>
      <th>Status</th>
      <th SCOPE=colgroup COLSPAN=3>Actions</th>

    </tr>
  </thead>


 <tbody>
 <% @orders.each do |order| %>
     <tr>
      <td><%= order.meal %> </td>
      <td > <%= order.restaurant %>  </td>
      <td style="width: 7%"><%= order.join %>  </td>
      <td style="width: 7%">

      <%=  @userOrders.inspect  %>

      </td>
      <td><%= order.status %>  </td>

      <td style="width: 4%"> <%= link_to 'view', order_path(order) %> </td>
      <% if order.status == 'waiting' %>
      <td style="width: 4%">
      <%= link_to 'Finish',
      order_path(order),
                  method: :put
                   %>

      </td>
      <td style="width: 4%"> <%= link_to 'Cancel',
      order_path(order),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>  </td>
       <% end %>
    </tr>

    <% end %>


 </tbody>
 </table>
 </div>
 <div class="flickr_pagination">
      <%= will_paginate @orders, previous_label:'<', next_label:'>' ,renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0%>
  </div>
