<%= render 'layouts/navigation' %>


<div class="big_container">

<div class="row">

<div class="form_container col-xs-6">





<%= bootstrap_form_with(model: @order) do |f| %>
  <%= f.select :meal, [['Breakfast', 1], ['Lunch', 2]], {}, {class: "form-control"} %> 
   <%= f.text_field :restourant %>
   <%= f.text_field :status, :input_html => { :id => 'comment' } %>
   <%= f.file_field  :menuImg %>
  <%= f.submit "Publish" %>
<% end %>


</div>

<div class="friends_container col-xs-6">
  <div class="row">
    <div class="friend col-sm friend">
      <div>
      <div class="row">
        <div class="col-sm">
          <img src="" width="100" height="100">
        </div>
        <div class="col-sm">
          <h3>Ahmed</h3>
          <a href="#">remove </a>
        </div>
      </div>
      </div>
    </div>
    <div class="friend col-sm">
      One of three columns
    </div>
    <div class="friend col-sm">
      One of three columns
    </div>
    <div class="friend col-sm">
      One of three columns
    </div><div class="friend col-sm">
    One of three columns
  </div>
  <div class="friend col-sm">
      One of three columns
    </div>
    <div class="friend col-sm">
      One of three columns
    </div>
  </div>
</div>


</div>

</div>