<%= render 'layouts/navigation' %>

<div class="big_container">

<div class="row">

  <div class="form_container col-xs-6" id="left">


    <%= bootstrap_form_with(model: @order, local: true, :id => "order_form")  do |f| %>

      <%= f.select :meal, [['Breakfast', "Breakfast"], ['Lunch', "Lunch"]], {}, {class: "form-control"} %>

      <%= f.text_field :restaurant  , label: "Restaurant", required: true %>

      <div class="form-group">
      <label>Friends: </label>
      <select id="dropdown" class="ui fluid search dropdown" multiple=""  >
         <% @friends.each do |myfriend| %>
           <option  value="<%= myfriend.id %>"><%= myfriend.name%></option>
         <%end%>

         <%@CurrentUserGroups.each do |group| %>
         <option value="<%= group.id%>"><b>@group:</b><%= group.name%> (Group) </option>
         <%end%>
      </select>

   </div>

      <%= f.hidden_field :status, :value => 'waiting' %>


      <%= f.text_field :menuImg , label: "Menu Image" %>

      <%= f.fields_for :invited_friends do |event_field| %>
      <%= f.hidden_field :acceptStatus, :value => 'waiting' %>
      <input type="hidden" id="myfriends_ids" name="myfriends_ids" value="">
    <% end %>


      <div class="actions">
          <%= f.submit "Save" %>
      </div>

    <% end %>


  </div>

  <div class="friends_container col-xs-6" id="right">
    <div id="friend_div" class="row">


    </div>
  </div>


</div>

</div>



<script>
    let m_f = [];
    let hidden_input = document.getElementById('myfriends_ids');
  $('.ui.dropdown')
      .dropdown({
      onAdd: function (value, text, $selectedItem) {

          if (text.charAt(0) !== "@") {
              <% @friends.each do |friend| %>
              if (value == <%= friend.id %>) {
                  let f_div = document.createElement('div');
                  f_div.classList.add("friend");
                  f_div.classList.add("col-md-3");
                  f_div.id = value;
                  <% if friend.image == nil %>
                    f_div.innerHTML = "<div>" + `<%=image_tag 'user.png',:width => 50, :height => 50%>` + "</div>";
                  <% else %>
                    f_div.innerHTML = "<div>" + `<%= image_tag friend.image,:width => 50, :height => 50 %>` + "</div>";
                  <%end %>

                  f_div.innerHTML += "<div> <h3><%= friend.name %></h3><button onClick=\"rm("+
                      value +", 1)\">Remove</button></div>";
                  let dd = document.getElementById("friend_div");
                  dd.appendChild(f_div);
                  m_f.push(value);
                  hidden_input.value = m_f;
              }
              <%end%>
          } else {
              <% @user_group.each do |u_g| %>
              if (value == <%= u_g.group_id %>) {
                  <% @friends.each do |friend| %>
                  if (<%= u_g.user_id %> == <%= friend.id %>) {
                      let f_div = document.createElement('div');
                      f_div.classList.add("friend");
                      f_div.classList.add("col-md-3");
                      f_div.id = value;
                      f_div.innerHTML = "<div><img src=<%= friend.image || "" %> width=\"100\" height=\"100\"></div>";
                      f_div.innerHTML += "<div> <h3><%= friend.name %></h3><button onClick=\"rm("+
                          value +", 1)\">Remove</button></div>";
                      let dd = document.getElementById("friend_div");
                      dd.appendChild(f_div);
                      m_f.push(value);
                      hidden_input.value = m_f;
                  }
                  <% end %>
              }
              <%end%>
          }
      },
      onRemove: function (value, text, choice) {
          rm(value, 0);
      }

      });

  function rm(value, x) {
      let removed_f = document.getElementById(value);
      if(removed_f) {
          removed_f.parentElement.removeChild(removed_f);
      }
      for (let i = 0; i < m_f.length; i++) {
          if(m_f == value){
              m_f.splice(i, 1);
          }
      }
      hidden_input.value = m_f;
      if(x == 1){
          $("a[data-value='" + value +"']").remove();
          $("div[data-value='" + value +"']").removeClass("active");
          $("div[data-value='" + value +"']").removeClass("filtered");
      }
  }
</script>
