


<div class="big_container">

<div class="row">

  <div class="form_container col-xs-6" id="left">






    <%= bootstrap_form_with(model: @order, local: true) do |f| %>

      

    
      <%= f.select :meal, [['Breakfast', "Breakfast"], ['Lunch', "Lunch"]], {}, {class: "form-control"} %> 
    
      

      <%= f.text_field :restaurant  , label: "Restaurant" %>


    
      <%= f.hidden_field :status, :value => 'waiting' %>

      

      
      <%= f.text_field :menuImg , label: "Menu Image" %>

      <%= f.fields_for :invited_friends do |event_field| %>
      <%= f.hidden_field :acceptStatus, :value => 'waiting' %>
      <%= f.hidden_field :order_id %>
      <%= event_field.text_field :user_id  , label: "Friends"%>
    <% end %>


      <div class="actions">
          <%= f.submit "Save" %>
      </div>

    <% end %>


  </div>

  <div class="friends_container col-xs-6" id="right">
    <div class="row">
      <div class="friend col-xs-6 ">
        
        <div class="row">

          <div class="col-xs-6">
            <div>
              <img src="" width="70" height="70">
            </div>
          </div>
          <div class="col-xs-6">
            <div>
              <h3>Ahmed</h3>
              <a href="#">remove </a>
            </div>
          </div>
        
        </div>


        
      </div>

      <div class="friend col-xs-6 ">
        
        <div class="row">

          <div class="col-xs-6">
            <div>
              <img src="" width="70" height="70">
            </div>
          </div>
          <div class="col-xs-6">
            <div>
              <h3>Ahmed</h3>
              <a href="#">remove </a>
            </div>
          </div>
        
        </div>


        
      </div>

      

      
      
      
    </div>
  </div>


</div>

</div>

